
*{
    background-color:black;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    max-width: 100%;
}
.container > div{
    flex-basis: 40%;
}
h1{
width: 300px;
text-align: center;
align-items: stretch;
}
h2{
    width: 300px;
    text-align: center;
    align-items: stretch;
    }
    



#d1{

    font-weight: bold;
    color:violet;
    text-emphasis-color: blue;
    
    
    
}
#d2{
    font-weight: lighter;
    color: aquamarine;
    visibility: hidden;
    
}
#p1{
    font-weight: bolder;
    color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-underline-position: below;
}
#p2{
    font-weight:bold ;
    color:violet;
}
#
#p2:hover, #p1:hover{
    opacity: 0.2;
}
#d1:hover #d2{
    
    visibility: visible;
    
}
#p0{
    font-weight: bold;
    color: aqua;
}
#p3{
    color:violet;
}